body {
    background-image: url(../assets/pen.webp);
   background-repeat: no-repeat;
   background-size: cover;
   padding: 0;
   margin: 0;
   width: 100%;
}
.logo{
    position: relative;
    margin-top: 1%;
    padding-left: 10px;
    font-size: 170%;
    padding-bottom: 5px;
}
.logo a{
    float: left;
    font-size: 100%;
    text-decoration: none;
    color: black;
}
.logo a span{
    font-size: 150%;
    color: green;
}
@media screen and (max-width: 760px) {
    body{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 0;
        margin: 0;
      }
    .sidebar{
        width: 50%;
        background: rgb(230, 226, 226) ;
        height: 55vh;
        margin-top: 40px;
      }
    #inbox{
        width: 100%;
        margin: auto;
      }
    }
.sidebar {
   position: absolute;
   width: 13%;
   height: 74vh;
   background:  rgb(230, 226, 226);
   padding-right: 20px;
   margin-top: 53px;
   padding: 10px;
   left:0;
   transition: 2s;
    
}
.sidebar ul li a{
  list-style: none;
  color: black;
  font-size: 20px;
  padding: 5px;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: none;
  width: 90%;
}
#inbox{
    margin: 53px 20px 0 0;
    height: 77vh;
    width: 82%;
    border-radius: 4px;
    background-color: rgb(230, 226, 226);
    float: right;
    overflow: auto;
  }
thead{
    font-weight: 700;
    font-size: 15pt;
    text-transform: uppercase;
  }
td{
    width: 10%; 
    font-size: 20px;
    padding: 10px;
    color: black;
    border-bottom: 1px rgba(29, 26, 26, 0.4) solid;
    cursor: pointer;
}
td a {
    text-decoration: none; 
}
.modify {
    text-align: right;
}
.modify a{
        padding: 2%;
        background-color: whitesmoke;
        color: brown;
        text-transform: uppercase; 
        font-size: 80%;
        letter-spacing: 2px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        text-decoration: none;
}
/* New entry */
#message form {
  margin: 53px 30px 0 0;
  height: 77vh;
  width: 65%;
  border-radius: 4px;
  background-color: rgb(230, 226, 226);
  float: right;
  overflow: auto;
  padding-left: 16%;
}
.form-input{
  width: 90%;
  color: black;
  border: none;
  outline: 0;
  margin: auto;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 18px;    
  padding: 4px;
}

#txt-msg{
  color: black;
  width: 90%;
  height: 70%;
  border-bottom: rgb(201, 216, 166) 2px solid;
  resize: none;
}
.btn-success{
  background: rgb(187, 133, 112);
  width: 20%;
  border-radius: 5px;
  height: 27px;
  font-size: 15pt;
  font-weight: 700;
  outline: none;
  border: solid 2px rgb(187, 133, 112);
  float: right;
  margin-right: 50px;
}